@tailwind base;
@tailwind components;
@tailwind utilities;

.form_container{
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  align-items: center;

}

.styling{
  display: flex;
  gap: 10px;

}

